.body {
	background-color: #dceabf;
	width: ;
	text-align: center;
}
.banner {
	margin: 0 auto;
	font-size: 3em;
	font-family: helvetica;
	text-align: center;
	width: 80%;
	padding-top: 5px;
	padding-bottom: 15px;

}
.main {
	float: right;
	clear: both;
	display: inline;

}
.about {
	text-align: left;
	background-color: white;
	font-family: Bookman;
	font-size: 1.2em;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	float: right;
	width: 70%;
	
}
.pic {
	position: absolute;
	left: 50px;
	top: 50px;
	
}
.skills {
	float: right;
	padding-left: 10%;
	padding-right: 10%;
	width: 70%;
	font-size: 1.2em;
	text-align: left;
	padding-top: 5%;
}
.goals {
	float: right;
	font-size: 1.2em;
	text-align: left;
	width: 87%;
	padding-right: 5%;
	padding-top: 5%;
}
.projects {
	clear: right;
	font-size: 2em;
	padding-top: 70px;
}
p {
	line-height: 27px;
}
.leftBlock {
	position: fixed;
	
	left: 0px;
	opacity: .6;
	background-color: #ccf5ff;
	width: 100px;
	height: 100%;
}
.buttons {
	margin:0 auto;

}